<!-- Music -->
<section class="section wow fadeIn" id="music">
	  	<div class="row align-center">
		  <div class="small-12 columns text-center">  	  
	
	<!-- Title -->	 
	<div class="row section-title">
		<div class="small-12 columns text-center">
			<h3>Albums</h3> 
		</div>
	</div>
	<!-- End Title -->
	
	<!-- Content -->	
	<div class="row">
		<div class="small-12 columns">
			<div class="owl-carousel music-carousel">
			<!-- Loop -->
			{% for album in site.albums %}
  <h2>{{ album.title }}</h2>
  <p>Performed by {{ album.artist }}{% if album.director %}, directed by {{ album.director }}{% endif %}</p>
  {% for work in album.works %}
    <h3>{{ work.title }}</h3>
    <p>Composed by {{ work.composer }}</p>
    <ul>
    {% for track in work.tracks %}
      <li>{{ track.title }} ({{ track.duration }})</li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
			<!-- End Loop -->
			</div>
		</div>
	</div>
	<!-- Content -->
			  
		</div>	  
	</div>
</section>
<!-- End Music -->