<!-- Footer -->
<footer>
<div class="row hide-for-small-only" id="top">

<!-- Left -->
<div class="small-4 columns">© Atlantic Records UK 2016</div>
<!-- End Left -->

<!-- Center -->
<div class="small-4 columns">
<ul class="menu expanded text-center">
        <li><a href="/music">Music</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/live">Live</a></li>
        <li><a href="http://birdy.warnerartists.net/uk/">Shop</a></li>
</ul>
</div>
<!-- End Center -->

<!-- Right -->
<div class="small-4 columns text-right" id="footer-socials">
<ul class="menu expanded">
        <li><a href="{{site.facebook}}"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
        <li><a href="{{site.twitter}}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
        <li><a href="{{site.instagram}}"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
        <li><a href="{{site.spotify}}"><svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg></a></li>
</ul>	
</div>
<!-- End Right -->
</div>

<div class="row align-center text-center" id="bottom">
<div class="small-12 medium-6 columns">
<ul class="menu expanded text-center">
	<li><a href="http://www.wminewmedia.com/t&c/">Terms and Conditions</a></li>
	<li><a href="http://www.wminewmedia.com/privacy/">Privacy Policy</a></li>
</ul>
</div>
</div>

<div class="row align-center show-for-small-only text-center" id="footer-small">
<div class="small-12 columns">
<ul class="menu expanded">
	<li><a href="{{site.facebook}}"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
	<li><a href="{{site.twitter}}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
	<li><a href="{{site.instagram}}"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
	<li><a href="{{site.spotify}}"><svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg></a></li>
</ul>
</div>
</div>

</footer>
<!-- End Footer -->