

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
	  <li><a href="/"><h1>Home</h1></a></li>
      <li><a href="/videos"><h1>Videos</h1></a></li>
      <li><a href="/music"><h1>Music</h1></a></li>
      <li><a href="/live"><h1>Live</h1></a></li>
      <li><a href="/bio"><h1>Bio</h1></a></li>
      <li><a href="http://birdy.warnerartists.net/uk/" target="_blank"><h1>Shop</h1></a></li>
    </ul>
  </nav>
</div>


<!-- Menu -->
      <div class="top-bar wow fadeIn" id="widemenu">
        <div class="row align-justify expanded">
		
		<!-- Menu Left -->    
        <div class="small-2 medium-4 columns align-middle">
	         <div class="button_container" id="toggle">
          <span class="top"></span>
		  <span class="middle"></span>
		  <span class="bottom"></span>
		  	</div>
        </div>
        <!-- End Menu Left -->  
        
        <!-- Menu Center -->
        <div class="small-8 medium-4 columns align-middle" id="menu-logo">
		<!-- Menu -->  
          <ul class="menu expanded">
           <li class="menu-text"><a href="/"><svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg></a></li>
          </ul>
        <!-- End Menu -->  
        </div>
        <!-- End Menu Center -->
        
		<!-- Menu Right -->
        <div class="medium-4 columns show-for-medium align-middle">
          <ul class="menu align-right" id="header-menu-socials">
        <li class="menu-text"><a href="{{site.facebook}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
        <li class="menu-text"><a href="{{site.twitter}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
        <li class="menu-text"><a href="{{site.instagram}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
        <li class="menu-text"><a href="{{site.spotify}}" target="_blank"><svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg></a></li>
		</ul>	
        </div>
        <!-- End Menu Right -->
        
        </div>
      </div>
      <!-- End Menu -->