<!-- Hero -->
<section class="row align-center align-middle expanded wow fadeIn" data-wow-delay="1s" id="hero" data-vide-bg="videos/birdy" data-vide-options="posterType: jpg, loop: true, muted: true, position: 50% 50%">
<div class="small-12 columns">		  
	<div class="row expanded align-center text-center">
		<div class="small-12 medium-12 columns wow fadeInUp" data-wow-delay="1.25s">
			<h1>{{meta['Header']}}</h1>
			<h4>{{meta['Subheader']}}</h4>
			<div class="vendors">
				<a href="{{meta['iTunes']}}" target="_blank">iTunes</a> /
				<a href="{{meta['Apple Music']}}" target="_blank">Apple Music</a> /
				<a href="{{meta['Spotify']}}" target="_blank">Spotify</a> / 
				<a href="{{meta['Amazon']}}" target="_blank">Amazon</a> /
				<a href="{{meta['Google Play']}}" target="_blank">Google Play</a>	
			</div>
		</div>
	</div>
</div>
</section>
<!-- End Hero -->