<!-- Hero -->
<section class="row align-center align-middle expanded wow fadeIn" data-wow-delay="1s" id="hero" data-vide-bg="assets/videos/birdy" data-vide-options="posterType: jpg, loop: true, muted: true, position: 50% 50%">
<div class="small-12 columns">		  
	<div class="row expanded align-center text-center">
		<div class="small-12 medium-12 columns wow fadeInUp" data-wow-delay="1.25s">
			<h1>{{page.header}}</h1>
			<h4>{{page.subheader}}</h4>
			<a href="//www.youtube.com/watch?v=Ec92Wa8zJs8" data-lity><button class="hollow button">Play Video</button></a>
			<div class="vendors">
				<a href="{{page.itunes}}" target="_blank">iTunes</a> /
<!-- 				<a href="{{page.apple}}" target="_blank">Apple Music</a> / -->
				<a href="{{page.spotify}}" target="_blank">Spotify</a>
<!--
				<a href="{{page.amazon}}" target="_blank">Amazon</a> /
				<a href="{{page.google}}" target="_blank">Google Play</a>	
-->
			</div>
		</div>
	</div>
</div>
</section>
<!-- End Hero -->