<!-- Live-->
<section class="section wow fadeIn" id="live">
	  	<div class="row align-center">
		  <div class="small-12 columns text-center">  	   
	
	<!-- Title -->	 
	<div class="row section-title">
		<div class="small-12 columns text-center">
			<h2>Live</h2> 
		</div>
	</div>
	<!-- End Title -->
	
	<!-- Tour Dates -->	 
	<div class="row section-title">
		<div class="small-12 columns text-center">
			<a href="http://www.songkick.com/artists/468031" class="songkick-widget" data-theme="dark" data-detect-style="true" data-font-color="#F6DCCC" data-background-color="transparent">Tour Dates</a>
<script src="//widget.songkick.com/widget.js"></script>
		</div>
	</div>
	<!-- End Tour Dates -->
		</div>	  
	</div>
</section>
<!-- End Live -->