<!-- Music -->
<section class="section wow fadeIn" id="music">
	  	<div class="row align-center">
		  <div class="small-12 columns text-center">  	  
	
	<!-- Title -->	 
	<div class="row section-title">
		<div class="small-12 columns text-center">
			<h3>Music</h3> 
		</div>
	</div>
	<!-- End Title -->
	
	<!-- Content -->	
	<div class="row">
		<div class="small-12 columns">
			<div class="owl-carousel music-carousel">
			<!-- Loop -->
			{% for post in site.pages.music.posts %}
			<div class="row align-center">
				<div class="small-12 columns text-center">	
				<a href="{{ post.url }}"><img class="cover" src="{{post.meta['Cover']}}"></a>
				<h5 class="music-title"><a href="{{ post.url }}">{{post.title}}</a></h5>
				
				<ul class="vertical menu" id="music-meta" data-accordion-menu>
					<li>
						<a href="#">Tracklist</a>
						<ul class="menu vertical nested">
							<li>{{post.body}}</li>
						</ul>
					</li>
					<li>
						<a href="#">Buy</a>
						<ul class="menu vertical nested">
							{% if {{post.meta['iTunes']}} %}
							<li><a href="{{post.meta['iTunes']}}" target="_blank">iTunes</a></li>
							{% endif %}
							{% if {{post.meta['Amazon']}} %}
							<li><a href="{{post.meta['Amazon']}}" target="_blank">Amazon</a></li>
							{% endif %}
							{% if {{post.meta['Google']}} %}
							<li><a href="{{post.meta['Google']}}" target="_blank">Google</a></li>
							{% endif %}
						</ul>
					</li>
					{% if {{post.meta['Stream']}} %}
					<li>
						<a href="#">Stream</a>
						<ul class="menu vertical nested">
							<li><a href="{{post.meta['Stream']}}" target="_blank">Spotify</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
				
				</div>
			</div>
			{% endfor %}
			<!-- End Loop -->
			</div>
		</div>
	</div>
	<!-- Content -->
			  
		</div>	  
	</div>
</section>
<!-- End Music -->