<!-- Newsletter -->
<section class="section wow fadeIn" id="subscribe">
	<div class="section-break section-blue">
	  <div class="row align-center">
		  <div class="small-10 medium-10 columns text-center">
			  
			  <div class="row align-center">
			  <div class="small-12 medium-10 columns" id="newsletter-text">
			  <h4>Sign up to receive the latest news on live dates, music and more</h4>
			  </div>
			  </div>
			  
			  <div class="row align-center">
			  <div class="small-12 medium-8 columns" id="newsletter-form">
			  <!-- Form -->
				<form action="https://signup.wmg.com/register" method="post"> 
	            <label>
	              <input type="hidden" name="list_id" value="11083">
	              <input name="mid" type="hidden" value="6086048">
	              <input type="text" name="email" placeholder="Email Address">
	              <select id="country" data-selected-value="United Kingdom"></select>
	              <input type="submit" class="button hollow" value="Submit">
	            </label>
				</form>
			  <!-- End Form -->
			  </div>
			  </div>
			  



		  </div>
	  </div>
	</div> 
</section>	 
<!-- End Newsletter -->