<!-- <a href="//www.youtube.com/watch?v={{post.meta['Video']}}" data-lity> -->
<div class="row expanded align-middle">
<div class="small-12 columns">
			  
<div class="row expanded align-center text-center">
<div class="small-12 columns container">

<img class="video-image" src="{{post.meta['Image']}}"/>
	
  <div class="text">
    <h5>{{post.title}}</h5>
    <button class="hollow button" href="//www.youtube.com/watch?v={{post.meta['Video']}}" data-lity>Play Video</button>
  </div>
  
</div>
</div>


</div>
</div>
<!-- </a> -->