@font-face {
  font-family: 'SerifGothicStd';
  src: url('../fonts/SerifGothicStd.eot?#iefix') format('embedded-opentype'),  url('../fonts/SerifGothicStd.otf')  format('opentype'),
	     url('../fonts/SerifGothicStd.woff') format('woff'), url('../fonts/SerifGothicStd.ttf')  format('truetype'), url('../fonts/SerifGothicStd.svg#SerifGothicStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SerifGothicStd-Bold';
  src: url('../fonts/SerifGothicStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SerifGothicStd-Bold.otf')  format('opentype'),
	     url('../fonts/SerifGothicStd-Bold.woff') format('woff'), url('../fonts/SerifGothicStd-Bold.ttf')  format('truetype'), url('../fonts/SerifGothicStd-Bold.svg#SerifGothicStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NittiGrotesk-Medium';
  src: url('../fonts/NittiGrotesk-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/NittiGrotesk-Medium.otf')  format('opentype'),
	     url('../fonts/NittiGrotesk-Medium.woff') format('woff'), url('../fonts/NittiGrotesk-Medium.ttf')  format('truetype'), url('../fonts/NittiGrotesk-Medium.svg#NittiGrotesk-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
