@font-face {
  font-family: 'Neutral';
  src: url('../fonts/neutral.eot?#iefix') format('embedded-opentype'),  url('../fonts/neutral.otf')  format('opentype'),
	     url('../fonts/neutral.woff') format('woff'), url('../fonts/neutral.ttf')  format('truetype'), url('../fonts/neutral.svg#neutral') format('svg');
  font-weight: normal;
  font-style: normal;
}