// Footer

footer {
	padding: 4rem 0;
	margin-top: 1rem;
	background-color: $white;
	color: $project-grey;
}

footer a {
	color: $project-grey;
}

#footer-socials a {
	color: $project-grey;
	font-size: 1.25rem;
	@include transition(all 0.3s ease)
}

#footer-socials a:hover {
	color: $project-black;
}

footer .menu > li > a {
    padding: 0rem 0rem;
}

footer #top {
	padding-bottom: 2rem;
}

#footer-small {
	padding-top: 2rem;
}
