/*
#subscribe { 
  background: url(/uploads/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

#newsletter-text {
	padding-bottom: 1rem;
}