<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<!-- Tour Dates -->	 
<div class="row section-title">
	<div class="small-12 columns text-center">
		<a href="http://www.songkick.com/artists/468031" class="songkick-widget" data-theme="dark" data-detect-style="true" data-font-color="#F6DCCC" data-background-color="transparent">Tour Dates</a>
<script src="//widget.songkick.com/widget.js"></script>
	</div>
</div>
<!-- End Tour Dates -->
	
{% include footer.html %} 

<script src="/assets/js/min/default-min.js"></script>
<script src="/assets/js/min/music-min.js"></script>

</body>

</html>
