<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<!-- Content -->	
	<div class="row music-default">
		<div class="small-12 medium-6 columns">	
		<img src="{{page.cover}}">
		</div>
		
		<div class="small-12 medium-6 columns">
		<h3>{{page.title}}</h5>
		<ol>
		{% for track in page.tracks %}
		<li>
		<div class="row">
		<div class="small-12 medium-6 columns">
		{{ track.name }}
		</div>
		<div class="small-12 medium-6 columns">
		{% if track.watch %}<span class="label music-label">Watch</span>{% endif %}
		{% if track.lyrics_md %}<span class="label music-label">Lyrics</span>{% endif %}
		{% if track.buy %}<span class="label music-label">Buy</span>{% endif %} 
		</div>
		</div>
		</li>
		{% endfor %}
		</ol>

		{% if {{page['itunes']}} %}
		<a href="{{page['itunes']}}" target="_blank">iTunes</a> /
		{% endif %}
		{% if {{page['amazon']}} %}
		<a href="{{page['amazon']}}" target="_blank">Amazon</a> /
		{% endif %}
		{% if {{page['google']}} %}
		<a href="{{page['google']}}" target="_blank">Google</a> /
		{% endif %}
		{% if {{page['stream']}} %}
		<a href="{{page['stream']}}" target="_blank">Spotify</a>
		{% endif %}
		</div>
	</div>
<!-- Content -->

{% include pagination.html %} 
{% include footer.html %} 

<script src="/assets/js/min/default-min.js"></script>
<script src="/assets/js/min/music-min.js"></script>

</body>

</html>
